/* src/components/Header.css */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  float: left;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;  
}

.menu {
  flex: 1;
}
